
name: Generate/Upload all Coverage Reports

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    
jobs:
  spring-boot:
    
    name: Build, Run Test and upload test coverage to code climate
    runs-on: ubuntu-latest
    
    steps:
      
      # Checkout Project
      - name: Checkout File Submission Repository
        uses: actions/checkout@v4

      # Setup Java Environment aligned with project (Java 21)
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
      
      # Cache maven dependencies
      - name: Cache Java Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      
      #P Push coverage to code climate
      - name: Test & publish code coverage
        uses: paambaati/codeclimate-action@v2.7.4
        env:
          CC_TEST_REPORTER_ID: aae899550bdc89de402e537456d007846bda71c64f7300294a61d1a68f6bfc43
          JACOCO_SOURCE_PATH: "${{github.workspace}}/src/pci-gateway/src/main/java"
        with:
          # The report file must be there, otherwise Code Climate won't find it
          coverageCommand: mvn -B verify -P all --file src/pom.xml
          coverageLocations: ${{github.workspace}}/src/pci-gateway/target/site/jacoco/jacoco.xml:jacoco
