
name: Generate/Upload all Coverage Reports

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    
jobs:
  spring-boot:
    
    name: Build, Run Test and upload test coverage to code climate
    runs-on: ubuntu-latest
    
    steps:
      
      # Checkout Project
      - name: Checkout File Submission Repository
        uses: actions/checkout@v4

      # Setup Java Environment aligned with project (Java 21)
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
      
      # Cache maven dependencies
      - name: Cache Java Dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      
      # Download working CC reporter binary
      - name: Download CC Test Reporter
        run: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-0.11.1-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter before-build
      
      # Run tests and generate coverage
      - name: Build and test with coverage
        run: mvn -B verify -P all --file src/pom.xml
      
      # Upload to Code Climate
      - name: Upload coverage to Code Climate
        env:
          CC_TEST_REPORTER_ID: aae899550bdc89de402e537456d007846bda71c64f7300294a61d1a68f6bfc43
        run: |
          ./cc-test-reporter format-coverage -t jacoco ${{github.workspace}}/src/pci-gateway/target/site/jacoco/jacoco.xml
          ./cc-test-reporter upload-coverage
