
name: Generate/Upload all Coverage Reports

on:
  push:
    branches: [main, code-coverage]
  pull_request:
    branches: [main]
    
jobs:
  spring-boot:
    env:
      CC_TEST_REPORTER_ID: aae899550bdc89de402e537456d007846bda71c64f7300294a61d1a68f6bfc43
    
    name: Create, format and upload Java coverage artifact
    runs-on: ubuntu-latest
    
    steps:
      
      # Checkout Project
      - name: Checkout File Submission Repository
        uses: actions/checkout@v2

      # Setup Java Environment
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
        
      # Where am I?
      - name: Where am I before Maven?
        run: |
          pwd
          echo "WHERE AM I?"
          ls
        
      - name: Test & publish code coverage
        uses: paambaati/codeclimate-action@v2.7.4
        env:
          CC_TEST_REPORTER_ID: aae899550bdc89de402e537456d007846bda71c64f7300294a61d1a68f6bfc43
          JACOCO_SOURCE_PATH: "${{github.workspace}}/src/pci-gateway/src/main/java"
        with:
          # The report file must be there, otherwise Code Climate won't find it
          coverageCommand: mvn -B verify -P all --file src/pom.xml
          coverageLocations: ${{github.workspace}}/src/pci-gateway/target/site/jacoco/jacoco.xml:jacoco
